{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}My Django Blog{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}" />
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    <header>
      <h1>
        <a href="{% url 'post_list' %}" class="blog-title">My Django Blog</a>
      </h1>
    </header>
    <main>{% block content %}{% endblock %}</main>
    <footer>
      <p>&copy; {% now "Y" %} My Django Blog</p>
    </footer>
  </body>
</html>
