{% extends "blog/base.html" %} {% block title %}All Blog Posts {% endblock %}
{%block content %}
<h2>All Blog Posts</h2>

{% if posts %}
<div class="posts">
  {% for post in posts %}
  <div class="post">
    <a href="{{ post.get_absolute_url }}" class="post-title"
      >{{ post.title }}</a
    >
    <p class="post-date">Posted on {{ post.created_at|date:"F j, Y" }}</p>
    <p class="post-author">
      By {% if post.author %}
      <a href="{% url 'author_detail' post.author.pk %}"
        >{{ post.author.get_full_name }}</a
      >
      {% else %}
      <span>Unknown Author</span>
      {% endif %}
    </p>
    {% if post.image %}
    <img
      src="{{ post.image.url }}"
      alt="{{ post.title }}"
      class="post-thumbnail"
    />
    {% endif %}
    <div class="post-actions">
      <a href="{% url 'delete_post' post.slug %}" class="btn btn-sm btn-danger"
        >Delete</a
      >
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<p>No posts available.</p>
{% endif %} {% endblock %}
